/*do not need to consider style for any components*/
/*just use the simplest style...*/
/*Magnolia will change the it overall...*/

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

@menu-size: 150px;

/* change font for the whole html. can change them to any font */
html * {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 22px;
}

tr, td, table {
  height: 40px;
  text-align: center;
}

h1 {
  font-size: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

main {
  padding-left: 120px;
  height:1000px;
}

.menu {
    /*padding-top: 50px;*/
}

.leftmenu {
  padding-right: 600px;
  left:auto;
  position: fixed;
}

.topbar {
  padding-left: 800px;
  right:auto;

}

ul.report-option {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  position: absolute;
  overflow: hidden;
}

.report-option li {
  float: left;
}

.report-option li a {
  display: block;
  color: black;
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
}

.report-option li a:hover {
  color: #D3D3D3;
}

ul.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: @menu-size;
  background-color: #f1f1f1;
  /*background-color: #3366cc;*/
  position: fixed;
  height: 70%;
  overflow: auto;
  padding-top: 150px;
}

.menubar li a {
  display: block;
  color: #000;
  /*color: white;*/
  margin: 10;
  padding: 20px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color on hover */
.menubar li a:hover {
  background-color: rgb(120, 120, 120, 0.5);
  /*background-color: #555;*/
  color: white;
}

/*button 'add a goal'*/
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 2px 10px 3px 10px;
}

ul#goal-tasks {
	background-size: 10px 10px;
	list-style-image: url('../static/bulletpoint.svg');
  padding-top: 20px;
  padding-left: 100px;
}

/*for 'Your Goal:' in dashboard*/
h3 {
  font-size: 50px;
  padding-left: 60px;
  padding-top: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

h4 {
  font-size: 22px;
  /* padding-left: 60px; */
  /* padding-top: 20px; */
  padding: 0px;
  margin: 20px 0px;
  /*text-align: center;*/
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  width:30%;
  text-transform: capitalize;
}

h4:after {
    /*content: '';
    background-color: rgba(0, 0, 0, 0.8) ;
    height: 2px;
    display: block;
    /*position: absolute;*/
    top: 18px;
    left: 0px;
    width: 80%;*/
}


div.google-visualization-table{
  width: 900px;
  height: 400px;
  text-align: center;
  padding-left: 30px;
}

/*for 'set goal'*/
div.goal-selection {
  /* padding: 10px; */
  /*text-align: center;*/
   padding-left: 0px;
   margin-top: 30px;
   margin-bottom: 10px;
  /* font-size: 10px; */
}

.blue-bg {
  background-color: #3366cc;
  color: white; //font-color
}

.goal-selection select {
  /* padding: 100px; */
  /* padding: 80px 16px; */
  /*display: none;*/
  /* background-color: DodgerBlue; */
}

div.add-button {
   padding-left: 0px;
   padding-bottom: 100px;
   padding-top: 50px;
   position:relative;
  /*text-align: center;*/
}

div.task-list {
  padding: 5px 20px 20px 20px;
  /*border: solid;*/
  margin: 0px 0px;
  background-color: rgba(0, 0, 0, 0.05);
}

/*'confirm' button*/
button {
  margin-left: 30px;
}

/*for 'add a goal'*/
p.desc{
  color: rgba(0, 0, 0, 0.8);
  /*background-color: rgba(0, 0, 0, 0.05);*/
  padding: 0px;
}

div.add-task{
  /*border: solid;*/
  padding: 5px 20px 20px 20px;
  /*margin-top: 50px;*/
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom:50px;
}

div.radio-group {
  margin-bottom: 20px;
}

div.submit-button {
  margin-top: 50px;
}

button#popup-close-button{
  margin-left: 330px;
  border: none;
  color: white;
  background-color: #808080;
}

div#mixed-category-ratio{
  all: unset;
  /*border: 2px solid;*/
  background-color:#f1f1f1;
  position: fixed; left: 250px; top: 150px;
  /*padding: 0px 20px 20px 20px;*/
  width: 550px;
  height: 400px;
}

/*app name in popup*/
h2{
  font-size: 30px;
  padding-left: 30px;
  margin: 10px 10px 0px 10px;
}

h4{
  font-size: 22px;
  color:white;
  font-family: 'Alegreya Sans', sans-serif;
  background: #808080;
  width: 535px;
  margin:0px;
  padding: 10px 0px 10px 15px;
  /*padding:15px;*/
}
